@model StudentJourney.ViewModels.JourneyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Journey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JourneyID" />
            <div class="form-group">
                <label asp-for="TripName" class="control-label"></label>
                <input asp-for="TripName" class="form-control" />
                <span asp-validation-for="TripName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JourneyDate" class="control-label"></label>
                <input asp-for="JourneyDate" class="form-control" />
                <span asp-validation-for="JourneyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JourneyDuration" class="control-label"></label>
                <input asp-for="JourneyDuration" class="form-control" />
                <span asp-validation-for="JourneyDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
