@{
    ViewData["Title"] = "Home Page";
}
<style>
    .jumbotron {
        text-align: center;
        padding-top: 50px; 
        margin-bottom: 100px;
    }

        .jumbotron h1 {
            margin-top: 0px;
        }
</style>

<div class="jumbotron">
    <h1>Student Journey</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Student Journey.com!</h2>
        <p>
            This page is for students who like to travel. Just plan, book and enjoy!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Book a journey or trip!</h2>
        <p>You can book a short trip or a journey here, all offers are the cheapest</p>
        
    </div>
    <div class="col-md-4">
        <h2>Enjoy!</h2>
        <p>You pay, we take care of everything for you! Just enjoy your adventure!</p>
        
    </div>
</div>